*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/chimneysweep/
app/libs/
app/src/main/assets/
app/src/main/res/drawable-v21/
app/src/main/res/drawable/icomoon_4_icons/
make_backup_2017-08-14_22-33-34.zip
map.xcf
projectFilesBackup/
tide_currents/
